* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    padding: 2% 5%;
}

header {
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    font-size: 1.1em;
}

article.about-me {
    display: flex;
    padding: 3em 1% 3em 5%;
}

article.about-me img {
    height: 75vh;
}

article.about-me div {
    padding: 2em 0 0 1em;
    text-align: right;
    letter-spacing: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article.about-me h1 {
    font-size: 5em;
    font-weight: 300;
    line-height: 0.8em;
}

article.about-me h3 {
    font-size: 3em;
    font-weight: 200;
}

article.about-me p {
    font-size: 1.8em;
}

div.skills {
    display: flex;
    justify-content: space-between;
}

article.experience {
    width: 100%;
}